$scrollWidth: .8854166667vw;
$layoutWidth: 1903;
$layoutHeight: 969;
$pxw: (100vw - $scrollWidth) / 1903;
$pxh: $pxw;
$pxCarousel: 100vh / $layoutHeight;
$pxUni: $pxw;
$mainMarginLeft: 313*$pxw;
$leftGutter: 207*$pxw;
$bigOrbitSize: 235*$pxUni;
$bigOrbitSize_mobile: 470*$pxUni;
$blackCircleSize: 151*$pxUni;
$blackCircleSize_mobile: 302*$pxUni;
$dotSize: 21*$pxUni;
$dotSize_mobile: 42*$pxUni;
$rem_mobile: 20*$pxUni;
$rem_tablet: 15*$pxUni;
$filterShadow: drop-shadow(0 15px 15px rgba(255, 255, 255, .3));
$filterShadowWhite: drop-shadow(0 15px 15px rgba(255, 255, 255, 1));
$filterShadowOrbit: drop-shadow(0 5px 5px rgba(255, 255, 255, 1));
$addressShadow: .3rem .5rem 1.5rem rgba(0, 0, 0, .3);
$hoverTransformUp: translateY(-1px) scale(1.01);
$transition200ms: all .2s ease-in-out;
$transition300ms: all .3s ease-in-out;
$transition500ms: all .5s ease-in-out;
$transition1000ms: all 1s ease-in-out;
$widthWithoutMainMargin: 100vw - $scrollWidth - $mainMarginLeft;